@tailwind base;
@tailwind components;
@tailwind utilities;

.nz_mobile_bag {
  height: 100vh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100svh;
  scrollbar-width: thin;
  scrollbar-color: #252d39 transparent;
}
@media (prefers-color-scheme: dark) {
  .nz_mobile_bag{
    scrollbar-color: #fff transparent;
  }
}
.nz_contents {
  max-width: 1350px;
  width: calc(100% - 0.5rem - 0.5rem);
  margin: 0 auto;
}
.nz_about_bin::before{
  content: '“';
}
.nz_about_subbin::before{
  content: '”';
}
.simplebar-scrollbar::before {
  background: linear-gradient(darkblue, skyblue);
}
.nz_design_mask{
  mask-image: url(/8186ac808527de4c6e3d6a43b416d792.webp);
  mask-size: cover;
  mask-repeat: repeat;
  mask-position: center;
}
