@tailwind base;
@tailwind components;
@tailwind utilities;

.nz_about_bin::before{
  content: '“';
}
.nz_about_subbin::before{
  content: '”';
}
.simplebar-scrollbar::before {
  background: linear-gradient(darkblue, skyblue);
}
.nz_design_mask{
  mask-image: url(/8186ac808527de4c6e3d6a43b416d792.webp);
  mask-size: cover;
  mask-repeat: repeat;
  mask-position: center;
}